<?xml version="1.0"?>
<robot name="lio" xmlns:xacro="http://tixiaoshan.github.io/">
  <xacro:property name="PI" value="3.1415926535897931" />

  <link name="odom"></link>

    <link name="base_link"></link>
    <joint name="base_link_joint" type="fixed">
      <parent link="odom"/>
      <child link="base_link" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <link name="laser_link"> </link>
    <joint name="lidar_joint" type="fixed">
      <parent link="base_link" />
      <child link="laser_link" />
      <origin xyz="0.17 0 0.22" rpy="0 0 0" />
    </joint>

    <link name="imu_link"> </link>
    <joint name="imu_joint" type="fixed">
      <parent link="base_link" />
      <child link="imu_link" />
      <origin xyz="0.12 -0.05 0.06" rpy="0 0 0" />
    </joint>

    <link name="camera_left_depth_optical_frame"> </link>
    <joint name="camera_left_joint" type="fixed">
      <parent link="base_link" />
      <child link="camera_left_depth_optical_frame" />
      <!-- <origin xyz="0.256842719249179 0.1081830869392123 0.1607512430601606"  -->
              <!-- rpy="-2.00712863979348 0 -1.13446401379631" /> -->
      <!-- <origin xyz="0.25032 0.13367 0.07824"
              rpy="-1.2043 0 -0.7854" /> -->
      <origin xyz="0.3097 0.1142 0.062"
              rpy="-1.5708 0 -1.3304" />


    </joint> 

    <link name="camera_right_depth_optical_frame"> </link>
      <joint name="camera_right_joint" type="fixed">
        <parent link="base_link" />
        <child link="camera_right_depth_optical_frame" />
        <!-- <origin xyz="0.277973632336214 -0.0628676975873733 0.1607512430601605"  -->
                <!-- rpy="-2.00712863979348 0 -2.00712863979348" /> -->
        <!-- <origin xyz="0.28567 -0.098316 0.07824"
                rpy="-1.2043 0 -2.3562" /> -->
        <origin xyz="0.3097 -0.1142 0.062"
                rpy="1.5708 0 1.3304" />

      </joint> 

     
    <link name="navsat_link"> </link>
    <joint name="navsat_joint" type="fixed">
      <parent link="base_link" />
      <child link="navsat_link" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

</robot>
